@model AdminWorkoutSessionsViewModel

@{
    ViewData["title"] = "Workout Sessions";
    Layout = "Layouts/_AdminLayout";
}

<div class="container full">
    <div class="workout-session-layout">
        <section class="workout-session__header">
            <h1 class="workout-session__title">Workout Sessions</h1>
        </section>

        <section class="workout-sessions"
                 aria-label="Workout sessions">
            <div class="workout-sessions__actions">
                <button class="primary-button workout-sessions__add-btn">
                    Add New Session
                </button>
            </div>

            <div class="workout-sessions__table-wrapper">
               
                <table class="workout-sessions__table">
                    <thead>
                        <tr>
                            <th>Category</th>
                            <th>Type</th>
                            <th>Start</th>
                            <th>Duration</th>
                            <th>Capacity</th>
                            <th>Actions</th>
                        </tr>
                    </thead>
                    <tbody>
                        @if (!Model.Sessions.Any())
                        {
                            <tr>
                                <td colspan="6" class="table-empty">
                                    No workout sessions available
                                </td>
                            </tr>
                        }
                        else
                        {
                            @foreach (WorkoutSessionItemViewModel session in Model.Sessions)
                            {
                                @* Skapar unikt DOM-id för raden *@
                                <tr id="session-@session.Id">
                                    <td>@session.Category</td>
                                    <td>@session.Type</td>
                                    <td>@session.StartsAt</td>
                                    <td>@session.Duration</td>
                                    <td>@session.Capacity</td>
                                    <td class="table-actions">
                                        @* JS = UI (modal)
                                        HTMX = backend + DOM update *@
                                        <button class="table-action-link table-action-link--danger js-delete-trigger"
                                                data-session-id="@session.Id">
                                            >
                                            Delete
                                        </button>
                                    </td>
                                </tr>
                            }
                        }

                    </tbody>
                </table>
                <div class="modal-overlay" hidden></div>
                    <div class="modal" hidden role="dialog" aria-modal="true"
                        aria-labelledby="modal-title"
                        aria-describedby="modal-description" >

                        <div class="modal__content">
                            <h2 class="modal__title" id="modal-title">Confirm delete</h2>
                            <p class="modal__description" id="modal-description">
                                Are you sure you want to delete this session?
                            </p>
                            <div class="modal__actions">
                                <button type="button" class="modal__button" data-cancel-delete>
                                    Cancel
                                </button>
                                <button
                                    type="button"
                                    class="modal__button modal__button--danger"
                                    data-confirm-delete
                                    @* Skickar POST till controller *@
                                    hx-post=""
                                    @* Hitta närmaste <tr>(raden) *@
                                    hx-target=""
                                    hx-swap="outerHTML" >
                                    Delete
                                </button>
                            </div>
                        </div>
                    </div>    
            </div>
        </section>
    </div>
</div>



@section Scripts {
    <script src="~/js/confirm-delete-modal.js" asp-append-version="true"></script>
}