@model AdminWorkoutSessionsViewModel

@{
    ViewData["title"] = "Workout Sessions";
    Layout = "Layouts/_AdminLayout";
}

<div class="container full">
    <div class="workout-session-layout">
        <section class="workout-session__header">
            <h1 class="workout-session__title">Workout Sessions</h1>
        </section>

        <section class="workout-sessions"
                 aria-label="Workout sessions">
            <div class="workout-sessions__actions">
                <button class="primary-button workout-sessions__add-btn">
                    Add New Session
                </button>
            </div>

            <div class="workout-sessions__table-wrapper">
                <table class="workout-sessions__table">
                    <thead>
                        <tr>
                            <th>Category</th>
                            <th>Type</th>
                            <th>Start</th>
                            <th>Duration</th>
                            <th>Capacity</th>
                            <th>Actions</th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (WorkoutSessionItemViewModel session in Model.Sessions)
                        {
                            <tr>
                                <td>@session.Category</td>
                                <td>@session.Type</td>
                                <td>@session.StartsAt</td>
                                <td>@session.Duration</td>
                                <td>@session.Capacity</td>
                                <td class="table-actions">
                                    <button class="table-action-link table-action-link--danger js-delete-trigger">
                                        Delete
                                    </button>
                                </td>
                            </tr>
                        }

                    </tbody>
                </table>
            </div>
        </section>
    </div>
</div>



@foreach (var session in Model.Sessions)
{
    <tr>
        <td>@session.Category</td>
        <td>@session.Type</td>
        <td>@session.StartsAt</td>
        <td>@session.Duration</td>
        <td>@session.Capacity</td>
        <td>
            <button data-session-id="@session.Id">
                Delete
            </button>
        </td>
    </tr>
}