@{
    var site = SiteSettings.Value;

    string language = site.Language;
    string siteName = site.SiteName;
    string? pageTitle = ViewData["Title"]?.ToString();

    string title = string.IsNullOrWhiteSpace(pageTitle) ? $"{siteName} | {site.Slogan}" : $"{pageTitle} | {siteName}";
}


<!DOCTYPE html>
<html lang="@language">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta name="author" content="@siteName" />
    <meta name="description" content="@site.Description" />
    <title>@title</title>
    <script type="importmap"></script>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/CoreFitness.Presentation.WebApp.styles.css" asp-append-version="true" />
</head>
<body>

   <main>
    @RenderBody()
   </main>
    
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
